<html>
<body>
<h3>password reset</h3>

<div>
 to complete the process click on the link below<br/>
  <a href="${url}?email=${email}&hash=${hash}">${url}?email=${email}&hash=${hash}</a>
</div>
</body>

</html>